.section-gallery-top {
	padding-top: 180px;
	padding-bottom: 90px;
}
.section-gallery-top .description {
	font-size: 14px;
}
.section-gallery-top .search-form {
	display: flex;
	justify-content: flex-end;
}
.section-gallery-top .search-form .close-btn {
	position: absolute;
	right: 0;
	cursor: pointer;
	width: 20px;
	height: 100%;
	padding: 3px 0;
	text-align: right;
	transition: all ease 0.4s;
	pointer-events: none;
	opacity: 0;
}
.section-gallery-top .search-form .input-group {
	position: relative;
	margin: 0;
}
.section-gallery-top .search-form .input {
	width: 220px;
	border: none;
	border-bottom: 2px solid transparent;
	padding: 4px 0;
	padding-right: 20px;
	cursor: pointer;
	transition: all ease 0.4s;
}
.section-gallery-top .search-form .input:valid,
.section-gallery-top .search-form .input:focus {
	border-bottom-color: #bbbbbb;
	width: 270px;
}
.section-gallery-top .search-form .input:valid + .close-btn,
.section-gallery-top .search-form .input:focus + .close-btn {
	opacity: 1;
	pointer-events: all;
}
.section-gallery-top .search-form .input::placeholder {
	color: #9a9a9a;
}
.section-gallery-top .archive-filter {
	margin-top: 30px;
}
.section-gallery-top .time {
	color: #565656;
}
.section-gallery-top .tabs-group {
	margin-top: 50px;
}
.section-gallery-top .tabs-group .tab {
	color: inherit;
	margin-left: 8px;
}
.section-gallery-content .tabs-group {
	display: flex;
	margin: 0 -27px;
}
.section-gallery-content .tabs-group .tab {
	padding: 0 27px;
}
.section-gallery-content .tabs-group .tab .icons {
	display: inline-block;
}
.section-gallery-content .tabs-group .tab input:not(:checked) + .icons .icon.unchecked {
	display: block;
}
.section-gallery-content .tabs-group .tab input:not(:checked) + .icons .icon.checked {
	display: none;
	visibility: hidden;
	width: 0;
	height: 0;
	overflow: hidden;
}
.section-gallery-content .tabs-group .tab input:checked + .icons .icon.unchecked {
	display: none;
	visibility: hidden;
	width: 0;
	height: 0;
	overflow: hidden;
}
.section-gallery-content .tabs-group .tab input:checked + .icons .icon.checked {
	display: block;
}
.section-gallery-content .count-per-page {
	display: flex;
	margin: 0 -10px;
}
.section-gallery-content .count-per-page .item {
	padding: 0 10px;
}
.section-gallery-content .count-per-page .item > a {
	color: #9a9a9a;
}
.section-gallery-content .count-per-page .item > a:hover {
	color: #000000;
	font-weight: bold;
}
.section-gallery-content .count-per-page .item.active > a {
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}
.section-gallery-content .gallery-header {
	display: flex;
	justify-content: space-between;
}
.back {
	color: #000000;
	font-weight: bold;
}
.back .icon {
	font-size: 150%;
}
.section-gallery-content .content {
	padding-top: 65px;
	padding-bottom: 100px;
}
.section-gallery-content .gallery-footer {
	padding-top: 45px;
	padding-bottom: 60px;
	text-align: center;
	border-top: 2px solid #000000;
}
.section-gallery-content .pagination-custom {
	width: 380px;
	max-width: 100%;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.section-gallery-content .pagination-custom .btn {
	width: 44px;
	height: 44px;
	background: #15284c;
	transition: all ease 0.4s;
	color: #fff;
	text-align: center;
	line-height: 38px;
	padding: 0;
	font-size: 24px;
}
.section-gallery-content .pagination-custom .btn:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transform: scale(1.1);
}
.section-gallery-content .pagination-custom .btn.disabled {
	background-color: #707070;
}
.gallery-grid {
	margin: -10px;
}
.gallery-grid .row {
	margin: 0;
}
.gallery-grid [class*="col-"] {
	padding: 0;
}
.gallery-grid .item-container {
	position: relative;
	height: 0;
}
.gallery-grid .item-container.h-3-2 {
	padding-top: 136%;
}
.gallery-grid .item-container.h-3-4 {
	padding-top: 68%;
}
.gallery-grid .item-container.h-3-8 {
	padding-top: 34%;
}
@media screen and (min-width: 576px) {
	.gallery-grid .item-container.h-sm-3-2 {
		padding-top: 136%;
	}
	.gallery-grid .item-container.h-sm-3-4 {
		padding-top: 68%;
	}
	.gallery-grid .item-container.h-sm-3-8 {
		padding-top: 34%;
	}
}
@media screen and (min-width: 768px) {
	.gallery-grid .item-container.h-md-3-2 {
		padding-top: 136%;
	}
	.gallery-grid .item-container.h-md-3-4 {
		padding-top: 68%;
	}
	.gallery-grid .item-container.h-md-3-8 {
		padding-top: 34%;
	}
}
@media screen and (min-width: 992px) {
	.gallery-grid .item-container.h-lg-3-2 {
		padding-top: 136%;
	}
	.gallery-grid .item-container.h-lg-3-4 {
		padding-top: 68%;
	}
	.gallery-grid .item-container.h-lg-3-8 {
		padding-top: 34%;
	}
}
@media screen and (min-width: 1200px) {
	.gallery-grid .item-container.h-xl-3-2 {
		padding-top: 136%;
	}
	.gallery-grid .item-container.h-xl-3-4 {
		padding-top: 68%;
	}
	.gallery-grid .item-container.h-xl-3-8 {
		padding-top: 34%;
	}
}
.gallery-grid .item {
	padding: 10px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.gallery-grid .item-fancybox {
	width: 100%;
	height: 100%;
	display: block;
}
.gallery-grid .item-fancybox > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.gallery-grid .project-item {
	padding-top: 0;
	width: 100%;
	height: 100%;
}

.slidebox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: #15284c;
	color: #fff;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: all ease 0.4s;
	pointer-events: none;
}

.slidebox.open {
	opacity: 1;
	pointer-events: all;
}

.slidebox .slidebox-header {
	padding: 40px 0px;
	transition: all ease 0.6s;
	transform: translateY(20px);
}
.slidebox.open .slidebox-header {
	transform: translateY(0);
}

.slidebox .slidebox-header .content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slidebox .slidebox-header .content-note {
	display: flex;
	align-items: center;
}

.slidebox .slidebox-header .content-note .icon {
	font-size: 24px;
	margin-right: 10px;
}

.slidebox .slidebox-header .close-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.slidebox .slidebox-header .close-btn .icon {
	font-size: 30px;
	margin-left: 10px;
	transition: all ease 0.4s;
}

.slidebox .slidebox-header .close-btn:hover .icon {
	transform: scale(1.2);
}

.slidebox .slidebox-body {
	margin-bottom: 40px;
	flex: 1;
	position: relative;
	/* transition: all ease 0.6s; */
	/* transform: translateY(20px); */
}
.slidebox.open .slidebox-body {
	/* transform: translateY(0); */
}

.slidebox .slider-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
}

.slidebox .slider-container .controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	width: 178px;
	margin: auto;
	margin-top: 40px;
}

.slidebox .slider-container .controls .icon {
	font-size: 20px;
}

.slidebox .slider-container .swiper-container {
	flex: 1;
}

.slidebox .swiper-slide {
	width: 66%;
}

.slidebox .swiper-slide > img {
	width: 100%;
	height: 0;
	object-fit: cover;
	object-position: center;
	transition: all ease 0.8s;
}
.slidebox.open .swiper-slide > img {
	height: 100%;
}

.archive-filter {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	align-items: center;
}

.archive-filter .form-name {
	color: #9a9a9a;
}

.archive-filter .item {
	padding: 0 10px;
}

.archive-filter .item-input-1,
.archive-filter .item-input-2 {
	flex: 1;
}

.archive-filter .item .input-group {
	padding: 0;
	margin: 0;
}

.archive-filter .input-group select {
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 10px;
	color: #5b5b5b;
	border-radius: 0;
	border: 1px solid #58585a;
	background: transparent;
	padding: 0 5px;
}

.archive-filter .submit-btn {
	height: 25px;
	line-height: 25px;
	font-size: 10px;
	border: none;
	background: #15284c;
	transition: all ease 0.4s;
	color: #fff;
	padding: 0 20px;
}

.archive-filter .submit-btn:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	transform: scale(1.1);
}

.archive-filter .form-name {
	padding-right: 20px;
}
.archive-filter .clear-btn {
	cursor: pointer;
	font-size: 10px;
	margin-top: 10px;
	display: inline-block;
}

.social-share {
	display: flex;
	margin: 0 -18px;
}
.social-share .item {
	padding: 0 18px;
}
.social-share .item > a {
	color: inherit;
	font-size: 24px;
	color: #5a5a5a;
}

/*********************************************************/
/*************************** Tin tức *********************/

/*************************** Tin tức *********************/
/*********************************************************/
@media screen and (max-width: 1199px) {
	.section-gallery-content .tabs-group {
		margin: 0 -15px;
	}
	.section-gallery-content .tabs-group .tab {
		padding: 0 15px;
	}
	.gallery-grid {
		margin: -8px;
	}
	.gallery-grid .item {
		padding: 8px;
	}
	.section-gallery-top {
		padding-top: 120px;
		padding-bottom: 60px;
	}
	.section-gallery-content .content {
		padding-top: 40px;
		padding-bottom: 70px;
	}
	.section-gallery-content .gallery-footer {
		padding-top: 35px;
		padding-bottom: 45px;
	}
	.section-gallery-content .pagination-custom {
		width: 350px;
	}
	.section-gallery-content .pagination-custom .btn {
		width: 36px;
		height: 36px;
		line-height: 30px;
		font-size: 21px;
	}
	.slidebox .slidebox-header {
		padding: 20px 0;
	}
	.slidebox .slidebox-body {
		margin-bottom: 20px;
	}
	.slidebox .slider-container .controls {
		margin-top: 20px;
	}
}
@media screen and (max-width: 767px) {
	.slidebox .slidebox-header .content {
		flex-wrap: wrap;
	}
	.slidebox .slidebox-header .content-note {
		width: 100%;
		order: 1;
	}
	.section-gallery-top .search-form .input {
		width: 180px;
		font-size: inherit;
	}
	.section-gallery-top .search-form .input:valid,
	.section-gallery-top .search-form .input:focus {
		border-bottom-color: #bbbbbb;
		width: 220px;
	}
}
@media screen and (max-width: 575px) {
	.section-gallery-content .gallery-header {
		flex-wrap: wrap;
	}
	.section-gallery-content .gallery-header .left-header {
		margin-right: 15px;
	}
	.section-gallery-content .tabs-group,
	.section-gallery-content .count-per-page {
		margin: 0 -5px;
	}
	.section-gallery-content .tabs-group .tab,
	.section-gallery-content .count-per-page .item {
		padding: 0 5px;
	}
	.slidebox .swiper-slide {
		width: 80%;
	}
	.section-gallery-top .search-form {
		justify-content: space-between;
	}
	.section-gallery-top .search-form .input {
		border-bottom-color: #bbbbbb;
	}
	.archive-filter .item-form-name {
		width: 100%;
		margin-bottom: 10px;
	}
	.archive-filter .item-clear {
		width: 100%;
		margin-top: 4px;
		text-align: right;
	}
	.archive-filter .item-input-1 {
		flex: 1;
	}
	.archive-filter .item-input-2 {
		flex: 2;
	}
	.social-share {
		margin: 0 -10px;
	}
	.social-share .item {
		padding: 0 10px;
	}
	.social-share .item > a {
		font-size: 20px;
	}
	.gallery-grid .item {
		padding: 4px;
	}
	.gallery-grid {
		margin: -4px;
	}
}
