/* Local Fonts - HoangHo Gotham */
@font-face {
    font-family: "Gotham";
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/HoangHoGotham-Book.otf') format('opentype');
}

@font-face {
    font-family: "Gotham";
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/HoangHoGotham-Book.otf') format('opentype');
}

@font-face {
    font-family: "Gotham";
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/HoangHoGotham-BookItalic.otf') format('opentype');
}

@font-face {
    font-family: "Gotham";
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/HoangHoGotham-Medium.otf') format('opentype');
}

@font-face {
    font-family: "Gotham";
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/HoangHoGotham-Medium.otf') format('opentype');
}

@font-face {
    font-family: "Gotham";
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/HoangHoGotham-Medium.otf') format('opentype');
}

/* Local Fonts - HoangHo Belleza */
@font-face {
    font-family: "Belle";
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/HoangHoBelleza-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Belle";
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/HoangHoBelleza-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Belle";
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/HoangHoBelleza-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Belle";
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/HoangHoBelleza-Regular.ttf') format('truetype');
}